* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background: grey;
    user-select: none;

}

.container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
    height: 500px;
}



.who-turn {
    background: linear-gradient(to bottom right,rgb(255, 59, 59), rgb(218, 218, 76), green);
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 50%;
    margin: 25px auto;
    border: 1px black solid;
    border-radius: 15px;
    
    box-shadow: -7px 17px 29px -3px #7fb695;



    
    
}

table {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;

}
tr {
    display: flex;
    text-align: center;
    
}

td {
    width: 50px;
    height: 50px;
    border-radius: 3%;
    line-height: 50px;
    font-weight: bold;
    font-size: 22px;

}

.mark {
    font-size: 40px;
}
.mark-brown {
    background: #CD853F;
}

.mark-brown-light {
    background:	#D2B48C;
}

.options {
    background: yellow;
    color: red;
}
.test {
    background: green;
    color: brown;
    font-size: 50px;
}
